export CSGHUB_PORTAL_ON_PREMISE=true
export CSGHUB_PORTAL_SENSITIVE_CHECK=false
export CSGHUB_PORTAL_STARHUB_BASE_URL=http://10.0.2.15:80
export CSGHUB_PORTAL_STARHUB_API_KEY=c7ab4948c36d6ecdf35fd4582def759ddd820f8899f5ff365ce16d7185cb2f609f3052e15681e931897259872391cbf46d78f4e75763a0a0633ef52abcdc840c
export CSGHUB_PORTAL_ENABLE_HTTPS=false
export CSGHUB_PORTAL_DATABASE_DSN=postgresql://postgres:sdfa23Sh!322@localhost:5433/open_portal_db?sslmode=disable
export CSGHUB_PORTAL_DATABASE_DIALECT=pg
export CSGHUB_PORTAL_SIGNUP_URL='http://10.0.2.15:80/api/v1/callback/casdoor&scope=read&state=casdoor'
export CSGHUB_PORTAL_LOGIN_URL='http://10.0.2.15:31001/login/oauth/authorize?client_id=d554744494d93c21a6ab&response_type=code&redirect_uri=http://10.0.2.15:80/api/v1/callback/casdoor&scope=read&state=casdoor'
export CSGHUB_PORTAL_S3_ENABLE_SSL=false
export CSGHUB_PORTAL_S3_REGION=cn-beijing
export CSGHUB_PORTAL_S3_ACCESS_KEY_ID=admin
export CSGHUB_PORTAL_S3_ACCESS_KEY_SECRET=Password_123
export CSGHUB_PORTAL_S3_BUCKET=opencsg-portal-storage
export CSGHUB_PORTAL_S3_ENDPOINT=localhost:9000
